# dependencies
node_modules/

# environment variables
.env

# build folders
dist/
build/

# expo
.expo/
.expo-shared/

# logs
npm-debug.log*

# mac files
.DS_Store

backend/config/serviceAccountKey.json
backend/.env